ul li{list-style: none;}
a{text-decoration: none;}
button{cursor: pointer;}

:root{
--iris:#4D5AE5;
--ocean:#404BBF;
--navi-blue:#2E2F42;
--green:#31D0AA;
--slate:#434455;
--ligth-slate:#8E8F99;
--CORNFLOWER: #E7E9FC;
--cloude:#F4F4FD;
--write-title:#FFFFFF;
}

body{
font-family: 'Roboto';
color: var(--navi-blue);
}

.link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.head {
}
.logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--iris);
}
.logo-second {
    color: var(--navi-blue);
}
.head-navigation {
}
.head-navigation-list-link {
font-weight: 500;
line-height:1.5;
letter-spacing: 0.02em;
color: var(--navi-blue);

}

.head-navigation-list-link:hover{
color: var(--ocean);
}

.head-navigation-list-link:focus{
    color: var(--ocean);
    }

.contacts {
}

.contacts-mail {
}
.contacts-mail-link {
/* +11 (000) 111-11-11 */
color:var(--slate);
}

.contacts-mail-link:hover {
color: var(--ocean);
}
    
.contacts-mail-link:focus {
  color: var(--ocean);
}
    
.contacts-tel {
}
.contacts-tel-link {
color:var(--slate);
}

.contacts-tel-link:hover {
color: var(--ocean);
}

.contacts-tel-link:focus {
 color: var(--ocean);
}


.hero {
background: var(--navi-blue);
}
.hero-header {
/* Header 1 */
font-weight: 700;
font-size: 56px;
line-height: 1.1;
/* or 107% */
text-align: center;
letter-spacing: 0.02em;
color:var(--write-title);
}
.hero-btn {
/* IRIS */
background: var(--iris);
border-radius: 4px;
}

.hero-btn:hover{
    background:var(--ocean);
}
.hero-btn:focus{
    background:var(--ocean);
}



.hero-btn-text {
/* Order Service */
/* Button Text */
font-weight: 500;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.04em;
color: var(--write-title);

}
.about {
}
.about-header {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
text-decoration: none;
}

.about-list-header{
/* Strategy */
font-weight: 500;
font-size: 20px;
line-height:1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
}
.about-list-text {
/* Our goal is to identify the business problem to walk away with the perfect and creative solution. */
/* Body */
font-size: 16px;
line-height: 1.5;
/* or 150% */
letter-spacing: 0.02em;
/* SLATE */
color:var(--slate);

}
.product {
}
.product-header {
/* What are we doing */
font-weight: 700;
font-size: 36px;
line-height:1.1;
/* identical to box height, or 111% */
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.product-content-img {
}
.teamcart {
/* CLOUD */

background:var(--cloude);
}
.teamcart-header {
/* Our Team */
font-weight: 700;
font-size: 36px;
line-height: 1.1;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
/* Header 3 */
font-weight: 500;
font-size: 20px;
line-height: 1.2;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
}
.teamcart-content-text{
/* Body */
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: var(--slate);

}

.ftr {
background-color: var(--navi-blue);
}
.ftr-text {
/* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */
/* Body */
font-size: 16px;
line-height: 1.5;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;
}
.ftr span{
color: var(--cloude);
}

.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
font-weight: 500;
line-height: 1.5;
color: var(--iris);
}

.main-nav-elment-btn:hover{
color: var(--write-title);
background-color:var(--ocean);

}

.main-nav-elment-btn:focus{
    color: var(--write-title);
    background-color:var(--ocean);
    
    }
.content {
}
.content-title {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.content-list {

}
.content-list-element {
}
.content-img {
}
.content-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.content-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--slate);
}