/*--------------GLOBAL STILE----------------*/

ul li{list-style: none;}
a{text-decoration: none;}
button{cursor: pointer;}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}



:root{
--iris:#4D5AE5;
--ocean:#404BBF;
--navi-blue:#2E2F42;
--green:#31D0AA;
--slate:#434455;
--ligth-slate:#8E8F99;
--cornflower:#E7E9FC;
--cloude:#F4F4FD;
--write-title:#FFFFFF;
}

body{
font-family: 'Roboto', sans-serif;
color: var(--navi-blue);
background-color:var(--write-title);
}

.link{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}


.conteiner{
width: 1158px;
outline: 3px solid red;
}

/*-----------------HEDER-----------------*/

.head {
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--iris);
}

.logo-second {
color: var(--navi-blue);
   
}

.head-navigation {
}

.head-navigation-list{
margin-top: 24px;
margin-bottom: 0;
padding: 0;
}

.head-navigation-list-link {
font-weight: 500;
line-height:1.5;
letter-spacing: 0.02em;
color: var(--navi-blue);

}

.head-navigation-list-link:hover,.head-navigation-list-link:focus,.head-navigation-list-link:active{
color: var(--ocean);
}

.contacts {
}

.contacts-list{
margin-top: 24px;
margin-bottom: 0;
padding: 0;
}

.contacts-mail {
}
.contacts-mail-link {
color:var(--slate);
}

.contacts-mail-link:hover,:focus {
color: var(--ocean);
}
     
.contacts-tel {
}
.contacts-tel-link {
color:var(--slate);
}

.contacts-tel-link:hover,:focus {
color: var(--ocean);
}

/*------------------HERO-------------------*/

.hero {
background: var(--navi-blue);
}
.hero-header {
font-weight: 700;
font-size: 56px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color:var(--write-title);
}
.hero-btn {
background: var(--iris);
font-family:'Roboto', sans-serif ;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--write-title);
}

.hero-btn:hover,.hero-btn:focus{
background:var(--ocean);
}




/*-----------------ABOUT------------------*/

.about {
}
.about-header {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
text-decoration: none;
}

.about-list-header{
font-weight: 500;
font-size: 20px;
line-height:1.2;
letter-spacing: 0.02em;
}
.about-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--slate);

}

/*-------------PRODUCT-------------*/

.product {
}
.product-header {
font-weight: 700;
font-size: 36px;
line-height:1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.product-content-img {
}

/*---------------TEAMCART----------------*/

.teamcart {


background:var(--cloude);
}
.teamcart-header {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.teamcart-content-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);

}

/*------------------FOOTER---------------*/

.ftr {
background-color: var(--navi-blue);
}
.ftr-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

/* CORNFLOWER */

color:var(--cornflower);
}
.ftr span{
color: var(--cloude);
}
/*-------------PORTFOLIO NAV---------------*/
.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
font-family:'Roboto', sans-serif ;
background-color:var(--cloude);
font-weight: 500;
line-height: 1.5;
color: var(--iris);
}

.main-nav-elment-btn:hover, .main-nav-elment-btn:focus{
color: var(--write-title);
background-color:var(--ocean);

}
/*-------------- PORTFOLIO CONTENT---------------*/
.content {
}
.content-title {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.content-list {
}
.content-list-element {
}
.content-img {
}
.content-subtitle {
color: var(--navi-blue);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.content-text {
color: var(--slate);
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--slate);
}